<!doctype html>
<html class="no-js" ng-app="proyectofinalApp">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->

    <core-drawer-panel> <!-- Start // Global container -->

      <core-header-panel drawer class="drawerBackground" ng-controller="contactListController"> <!-- Start // Header of the drawer -->
        <core-toolbar style="background-color:#3399FF">Menu</core-toolbar>
        <span ng-repeat="avenger in vengadores">
          <paper-item>{{avenger.nombre}}</paper-item>
        </span>
      </core-header-panel> <!-- End // Header of the drawer -->

      <core-header-panel id="headerPanel" main> <!-- Start // Header of the content -->

        <core-toolbar style="background-color:#3399FF">
          <paper-icon-button icon ="menu" core-drawer-toggle>
          </paper-icon-button>

          <div flex>All contacts</div>


          <paper-menu-button>
            <paper-icon-button icon="more-vert">
            </paper-icon-button>

            <paper-dropdown class="dropdown" halign="right">

              <core-menu class="menu">

                <paper-item>Ajustes</paper-item>
                <paper-item>Ayuda</paper-item>
                <paper-item>Feedback</paper-item>

              </core-menu>

            </paper-dropdown>
          </paper-menu-button>
        </core-toolbar>

        <!-- Aquí empieza el grid list de materials Angular -->
          



            <div>
              <md-grid-list md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6" md-row-height-gt-md="1:1" md-row-height="2:2" md-gutter="10px" md-gutter-gt-sm="8px" >

                <md-grid-tile class="ironMan" md-rowspan-gt-md="2" md-colspan-gt-md="2" md-colspan-sm="1"style="background-color:#FF1919;">
                  <md-grid-tile-footer>
                    <p>1</p>
                    <h3>#1: (2r x 2c)</h3>
                  </md-grid-tile-footer>
                </md-grid-tile>

                <md-grid-tile class="thor" md-rowspan="2" md-colspan="2" md-colspan-sm="1"style="background-color:#33CC33">
                  <md-grid-tile-footer>
                    <p>2</p>
                    <h3>#5: (2r x 2c)</h3>
                  </md-grid-tile-footer>
                </md-grid-tile>

                <md-grid-tile class="capitanAmerica" md-rowspan-gt-md="4" md-colspan-gt-md="2" md-colspan-sm="1"style="background-color:#6699FF">
                  <md-grid-tile-footer>
                    <p>3</p>
                    <h3>#1: (2r x 2c)</h3>
                  </md-grid-tile-footer>
                </md-grid-tile>

                <md-grid-tile class="hulk"style="background-color:#99FF66;">
                  <md-grid-tile-footer>
                    <p>4</p>
                    <h3>#2: (1r x 1c)</h3>
                  </md-grid-tile-footer>
                </md-grid-tile>

                <md-grid-tile class="natasha"style="background-color:#FF6600;">
                  <md-grid-tile-footer>
                    <p>5</p>
                    <h3>#3: (1r x 1c)</h3>
                  </md-grid-tile-footer>
                </md-grid-tile>

                <md-grid-tile class="plot" md-rowspan-gt-md="2" md-colspan-gt-md="2" md-colspan-sm="1"style="background-color:#3333FF;">
                  <md-grid-tile-footer>
                    <p>6</p>
                    <h3>#1: (2r x 2c)</h3>
                  </md-grid-tile-footer>
                </md-grid-tile>

                <md-grid-tile class="eyeHawk"style="background-color:#FF6600;">
                  <md-grid-tile-footer>
                    <p>7</p>
                    <h3>#3: (1r x 1c)</h3>
                  </md-grid-tile-footer>
                </md-grid-tile>

                <md-grid-tile class="nickFury"style="background-color:#FF6600;">
                  <md-grid-tile-footer>
                    <p>8</p>
                    <h3>#3: (1r x 1c)</h3>
                  </md-grid-tile-footer>
                </md-grid-tile>

              </md-grid-list>
            </div>




         <!-- Aquí termina el grid list de materials Angular -->

            

        <!-- <ul ng-repeat="vengador in vengadores">
          <li>{{vengador.nombre}}</li>
        </ul> Aquí funciona -->

      </core-header-panel> <!-- End // Header of the content -->

    </core-drawer-panel> <!-- End // Global container -->

    

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/webcomponentsjs/webcomponents.js"></script>
    <link rel="import" href="bower_components/core-toolbar/core-toolbar.html">
    <link rel="import" href="bower_components/paper-icon-button/paper-icon-button.html">
    <link rel="import" href="bower_components/paper-menu-button/paper-menu-button.html">
    <link rel="import" href="bower_components/paper-dropdown/paper-dropdown.html">
    <link rel="import" href="bower_components/core-menu/core-menu.html">
    <link rel="import" href="bower_components/paper-item/paper-item.html">
    <link rel="import" href="bower_components/core-header-panel/core-header-panel.html">
    <link rel="import" href="bower_components/core-drawer-panel/core-drawer-panel.html">
    <link rel="import" href="bower_components/core-list/core-list.html">
    <!-- endbower -->
    
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/controllers/contactList.js"></script>
        <!-- endbuild -->
</body>
</html>
